In [1]:
import pandas as pd 
import numpy as np
import random
import matplotlib.pyplot as plt
% matplotlib inline
random.seed(42)

UsageError: Line magic function `%` not found.

In [2]:
df = pd.read_csv("ab_data.csv")
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [3]:
# No. rows in the dataset:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
user_id         294478 non-null int64
timestamp       294478 non-null object
group           294478 non-null object
landing_page    294478 non-null object
converted       294478 non-null int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [4]:
df.user_id.nunique()

290584

In [5]:
df.converted.mean()

0.11965919355605512

In [6]:
df["converted"][0:5].mean()   # Test my code

0.2

In [7]:
df.groupby(['group','landing_page']).size()

group      landing_page
control    new_page          1928
           old_page        145274
treatment  new_page        145311
           old_page          1965
dtype: int64

In [8]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [9]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [10]:
df2 = df.drop(df[(df.group == 'control') & (df.landing_page == 'new_page')].index)
df2 = df2.drop(df2[(df2.group == 'treatment') & (df2.landing_page == 'old_page')].index)

In [11]:
df2[((df2['group'] == 'treatment') == (df2['landing_page'] == 'new_page')) == False].shape[0]

0

In [12]:
df2.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [13]:
df2.user_id.nunique()

290584

In [14]:
df2.user_id[df2.user_id.duplicated()]

2893    773192
Name: user_id, dtype: int64

In [15]:
df2[df2.user_id==773192]

      user_id                   timestamp      group landing_page  converted
1899   773192  2017-01-09 05:37:58.781806  treatment     new_page          0
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [16]:
df2.drop_duplicates(subset='user_id', inplace=True)

In [17]:
df2[df2.user_id==773192]

      user_id                   timestamp      group landing_page  converted
1899   773192  2017-01-09 05:37:58.781806  treatment     new_page          0

In [18]:
df2.converted.mean()

0.11959708724499628

In [19]:
df2[df2.group=='control'].converted.mean()

0.1203863045004612

In [20]:
df2[df2.group=='treatment'].converted.mean()

0.11880806551510564

In [21]:
len(df2[df2.landing_page == "new_page"])/len(df2)

0.5000619442226688

In [22]:
# So in this dataset, the control group has a higher converted rate than the treatment group's converted rate.
# The converted rate difference between control group and treatment group is 0.15% (observed difference). 
# So, there is NO SUFFICIENT EVIDENCE that the new treatment page leads to more conversions.

In [25]:
# The null and alternative hypotheses will be:
    # H0 (Null hypotheses): Pnew <= Pold
    # H1 (Alternative hypotheses): Pnew > Pold
# In which Pnew means the probability of converted rates for the new page and Pold means the probability of converted rates for the old page